<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>index</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/index.css'>
    <!-- <script src='index.js'></script> -->
</head>

<body>
    <div id="wrap">
        <header class="header">
            <nav class="nav">
                <div class="nav-contents nav-left">
                    <img class="logo" alt="logo" src="#">
                </div>
                <div class="nav-contents nav-right">
                    <ul class="nav-right-ul">
                        <li class="nav-right-contents">Tech</li>
                        <li class="nav-right-contents">Culture</li>
                        <li class="nav-right-contents">News</li>
                        <li class="nav-right-contents">Career</li>
                    </ul>
                </div>
            </nav>
        </header>

        <section class="section">section
            <div class="article article1">article1</div>
            <div class="article article2">article2</div>
            <div class="article article3">article3</div>
            <div class="article article4">article4</div>
            <div class="article article5">article5</div>
            <div class="article article6">article6</div>
            <div class="article article7">article7</div>
            <div class="article article8">article8</div>
            <div class="article article9">article9</div>
            <div class="article article10">article10</div>
        </section>

        <footer class="footer">footer</footer>
    </div>
</body>

</html>